html, body {
    font-family: Arial, 'Open Sans', sans-serif;
    font-size: 1em; // default 1em = 16px
    font-weight: 300; // 400 = normal; 700 = bold
    line-height: 1.5rem;
    height: 100%;
    background: #ECF0F3;
}