section #title {
	// width: 600px;
	// transform: rotateZ(-5deg);
	> h1 {
		// color: brown;
		line-height: 1.2em;
	}
}
.column > .front-content {
	position: absolute;
	transform: perspective(500px) rotateY(0deg);
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}
.column > .back-content {
	position: relative;
	margin-top: 0;
	transform: perspective(500px) rotateY(180deg);
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}

.column:hover > .front-content {
	transform: perspective(500px) rotateY(-180deg);
}
.column:hover > .back-content {
	transform: perspective(500px) rotateY(0deg);
}

/* Admin dashboard */
.nav-tag{
  padding-right: 30px;
}
// so luong thong bao den admin
.tag-notif{
  border-radius: 50%;
  position: absolute;
  top: 5px;
  margin-left: 10px;
  
  @media (max-width: 768px) {
    margin-left: -2px;
  }
}
// navigation bar
.navbar11 {
	
	// style for navbar-item
  &-item {
    background-color: #2E363F;
    color: #afb8c3 !important;
    /* &.is-active{
      background-color: #f5f5f5 !important;
      color: #363636 !important;
    } */
    &:hover {
      background-color: #f5f5f5 !important;
      color: #363636 !important;
    }
	}

	// Dropdown Logout and Profile Admin account
	&-dropdown{
    .navbar-item {
      background-color: #fff;
    }
	}

	&-burger{
    background-color: #2E363F !important;
    border: 0;
    span {
      background-color: #00d1b2;
    }
	}
	
	&-link{
    figure{
      img {
        border-radius: 50%;
        max-height: 2em;
      }
    }
  }
}

.navbar {
  &-item {
    color: hsl(0, 0%, 89%);
    &:hover {
      background-color: #f5f5f5 !important;
      color: #363636 !important;
    }
    .navbar-link:hover {
      color: hsl(0, 0%, 21%) !important;
    }
  }

  &-burger{
    span {
      background-color: #00d1b2;
    }
  }

  /* .navbar-dropdown {

  } */
}

.columns {
  margin: 0;
}
.breadcrumb:not(:last-child){
  margin-bottom: 0;
}

// navigation left area
.aside {
  // background: #2E363F;    
  padding: 1em .2em 0 0.8em;

  a {
    color: #afb8c3;
  }

  .menu-list {
    li {
      margin-top: .5em;
    }
  }

  .menu-label {
    color: #00d1b2;
    margin-left: .5em;
  }
}

